.main-container {
    margin: auto;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.my-projects {
    font-size: 2.8em;
    text-align: center;
}

.project-wrapper {
    background: rgb(191,74,11);
    background: -o-linear-gradient(45deg, rgba(191,74,11,1) 0%, rgba(240,115,5,1) 100%);
    background: linear-gradient(45deg, rgba(191,74,11,1) 0%, rgba(240,115,5,1) 100%);
    margin: 1em;
    border-radius: 4px;
    max-width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 35%;
}

.project {
    margin: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.project-wrapper {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.project-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0.5em;
}

.project-name {
    font-size: 1.5em;
}

.project-name:hover {
    color: lightgray;
}

.project-description {
    margin-bottom: 0.5em;
    width: 70%;
}

.project-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.8em;
}

.project-footer-right a {
    text-decoration: underline;
}

.foot-container {
    width: 92.5%;
    margin: auto;
    margin-bottom: 1em;
}

.project-wrapper:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}